:root {
    --main-max-width: 500px; 
    --black: #1b1c21;/*#101010;*/
    --grey: #606165;
    --light-grey: #8e8e90;
    --green: #186F65;
    --orange: #B2533E;/*#186F65;*/
    --dark-blue: rgb(19, 16, 27);/*#1b1c21;*/
    --min-font: 15px;
    --header-side-width: 30px;
    --header-button-size: 25px;
    --letter-spacing: 5px;
}

html, body{
    height: 100svh;
}

* {
    font-family: domine, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclut le padding dans la taille totale */
    color: #fff;
}

body {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100vh;*/
}

header {
    background-color: var(--black);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-bottom: solid #8e8e9065;
    border-width: 1px;
}

#header-container {
    width: 100%;
    height: 100%;
    max-width: var(--main-max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px; 
}

#title {
    text-align: center; 
    font-size: min(10vh ,30px);
}


#leaderboard, #statistics, #parameters, #info, #cross {
    height: var(--header-button-size);
    width: var(--header-button-size);
    background-color:  var(--grey);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

svg {
    fill: white;
    width: 16px;
}

#left-btn, #right-btn {
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


#main {
    height: 100%;
    width: 100%;
    max-width: var(--main-max-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1; /* Permet à #main d'occuper l'espace restant */
    padding: 0 8px; 
}


#bottom-page, #middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    margin-top: 10px;
    font-size: min(42px, max(var(--min-font), 4vh));
    text-align: center; 
    font-weight: 680;
    /*margin: 15px 0;*/
}

html ::-webkit-scrollbar {
    width: 2px;
}

html ::-webkit-scrollbar-track {
    background: transparent;
}

html ::-webkit-scrollbar-thumb {
    background: rgba(119, 119, 119, 0.5);
    border-radius: 2px;
}


#flip p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: fit-content;*/
    padding: 4px calc(8px - var(--letter-spacing)) 4px 8px;
    background-color: var(--green);
    border-radius: 30px;
    margin-top: 4px;
    height: 26px;
}

#output-section {
    margin-top: 8px;
    width: auto;
    max-width: var(--main-max-width);
    height: 35vh;
    letter-spacing: var(--letter-spacing);
    font-size: min(20px, max(var(--min-font), 3vh));
    font-weight: 680;
    transform: scaleY(-1);
    text-align: center;
    overflow-y: scroll;
}

#flip {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(-1);
}

@media (min-height: 1050px) {
    #output-section {
        height: 45vh;
    }
}

input[type="text"] {
    background-color: var(--black);
    font-size: 3vh;
    padding-bottom: 5px;
    padding-top: 10px;
    max-width: 220px;
    width: 80%;
    text-align: center;
    border: solid rgb(61, 60, 62);
    border-top: none;
    border-left: none;
    border-right: none;
    /*margin-top: auto;  Pousse le ce qu'il y a en dessous vers le bas */
}

input[type="text"]:focus {
    outline: none; /* Supprime la bordure noire par défaut */
    }

input[type="text"]::placeholder {
    font-size: min(20px, max(2.8vh, 12px)); 
    color: #d7d7d7;   
    opacity: 0.3;
}

#help {
    /*margin-bottom: auto;/* /* Pousse le #output-section vers le haut */
    margin-top: 15px;
    font-size: max(var(--min-font), min(3.5vh, 25px));
    cursor: pointer;
}

#cut-down {
    background-color: var(--orange); 
    color:white; 
    font-size: 18px;
}

#keyboard {
    margin-top: 15px;
    height: 180px;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.keyboard-row {
    margin: 2px;
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.key {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    margin: 2px;
    height: 90%;
    border: none;
    border-radius: 8px;
    background-color: var(--grey);    
    font-weight: 670;
}

.larger-key {
    padding: 0 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;  
    max-width: 56px;  
    font-size: 18px;
    margin: 2px;
    /*width: auto;*/
    height: 90%;
    border: none;
    border-radius: 8px;
    background-color: var(--grey);    
    font-weight: 670;
}

button:hover {
    scale: 1.05;
}

#cut-down:hover, #continue:hover, #give-up:hover {
    scale: 1.05;
}

#help:hover {
    scale: 1.08;
}

#cross {
    position: absolute;
    top: 24px;
    right: 24px;
}

.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: var(--black);
    border-radius: 10px;
    width: 450px;
    text-align: center;
    max-width: 85%;
}

#resume, .contact, .support, .share {
    background-color: var(--grey);    
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 2px;
    width: auto;
    height: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 670;
    text-align: center;
}

#give-up, .restart {
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 2px;
    width: auto;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--orange);
    font-weight: 670;
}

#end-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 160px;
    padding: 0px 10px;
}

#end-modal button {
    max-height: 50px;
}

/* How to play modal */

#how-to-play-modal {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

#how-to-play-content {
    text-align: left;
}

#how-to-play-content p {
    font-weight: 590;
    color: var(--light-grey);
    font-size: 14px;
    margin-bottom: 16px;
}

#how-to-play-content p span{
    font-weight: 650;
    color: #fff;

}

#exemple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

#exemple p {
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
    font-weight: 680;
    margin: 0;
}

/* Two modals */

.modal-title {
    font-size: 20px; 
    font-weight: 690; 
    margin-bottom: 16px
}

.score-and-spruce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

/* Give up modal */

#give-up-modal, #win-modal {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#give-up-modal-content, #win-modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#words-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
}

#words-not-found-container p {
    text-align: left;
    font-weight: 590;
    color: var(--light-grey);
    font-size: 14px;
    margin-bottom: 16px;

}

#give-up-score, #win-score {
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 680;
}

#give-up-spruce, #win-spruce {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#give-up-spruce p, #win-spruce p {
    font-size: 22px;
    color: white;
    letter-spacing: 3px;
    font-weight: 680;
    margin: 0;
}