* {
    font-family: domine, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclut le padding dans la taille totale */
}

header {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;

}

body {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#main {
    height: 100%;
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*flex: 1;  Permet à #main d'occuper l'espace restant */
    padding: 0 8px; /* Ajoute un padding de 8px de chaque côté */
}


button:hover {
    scale: 1.05;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    margin: 2px;
    width: auto;
    height: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 670;
    text-align: center;
}

#return-home {
    background-color: #FFBE98;    
}

#play-again {
    background-color: #80BCBD;    
}

